:root {

/* Colors: */
--unnamed-color-705aaa: #705AAA;
--unnamed-color-cbc8d4: #CBC8D4;
--activestate_bg_2: #D8FCF7;
--activestate_bg_1: #01F0D0;
--unnamed-color-0bd984: #0BD984;
--unnamed-color-072635: #072635;
--unnamed-color-0c3d5d: #0C3D5D;
--unnamed-color-084c77: #084C77;
--unnamed-color-055a92: #055A92;
--unnamed-color-006aac: #006AAC;
--unnamed-color-007bc7: #007BC7;
--unnamed-color-707070: #707070;
--unnamed-color-f6f6f6: #F6F6F6;
--unnamed-color-ededed: #EDEDED;
--unnamed-color-000000: #000000;
--unnamed-color-878787: #878787;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-ff6200: #FF6200;

/* Font/text values */
--unnamed-font-family-manrope: Manrope;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-800: 800px;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-bold: bold;
--unnamed-font-size-14: 14px;
--unnamed-font-size-18: 18px;
--unnamed-font-size-24: 24px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-19: 19px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-33: 33px;
--unnamed-text-transform-titlecase: titlecase;
}

/* Character Styles */
.card-title-24pt {
font-family: var(--unnamed-font-family-manrope);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-800);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-33);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
}
.inner-card-title-18pt {
font-family: var(--unnamed-font-family-manrope);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-transform: var(--unnamed-text-transform-titlecase);
}
.body-emphasized-14pt {
font-family: var(--unnamed-font-family-manrope);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
}
.body-secondary-info-14pt {
font-family: var(--unnamed-font-family-manrope);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-707070);
}
.body-regular-14 {
font-family: var(--unnamed-font-family-manrope);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
}